<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hajj_fyp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hajj_FYP">
        <activity android:name=".FAQActivity"></activity>
        <activity android:name=".GalleryActivity"
            android:parentActivityName=".MenuActivity"/>
        <activity android:name=".DuaActivity"
            android:parentActivityName=".MenuActivity"/>
        <activity android:name=".SunaActivity"
            android:parentActivityName=".MenuActivity"/>
        <activity android:name=".HajjTracker"
            android:parentActivityName=".MenuActivity"/>
        <activity android:name=".PrayerTracker"
            android:parentActivityName=".MenuActivity"/>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".PrayerTimeActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".ChangePasswordActivity"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".EmergencyLocationActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".ContactUsActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".EditProfileActivity"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".ReminderActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".EmergencyActivity"
            android:parentActivityName=".MenuActivity" />
        <activity android:name=".MenuActivity" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>